img {
    width: 50%;
    max-width: 250 px;
}
h1 {
    font-family: "Barrio", serif;
    font-size: 70px;
}
h2 {
    margin-top: 50px;
    font-family: "barrio", serif;
    font-size: 35px;
}
h3 {font-family: "barrio", serif;}